@{
    ViewData["Title"] = "Dodaj rolę";
}

<h1>Dodaj rolę</h1>
<hr />
<form method="post">
    <div class="form-group">
        <label for="roleName">Nazwa roli</label>
        <input type="text" class="form-control" id="roleName" name="roleName" required />
    </div>
    <button type="submit" class="btn btn-primary mt-3">Dodaj</button>
</form>
