@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

@{
    ViewData["Title"] = "Zarządzanie rolami";
}

<h1>Role</h1>
<hr />
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Nazwa</th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <td>@role.Name</td>
                <td>
                    @if (role.Name != "Administrator")
                    {
                        <a asp-action="EditRole" asp-route-id="@role.Id" class="btn btn-sm btn-primary">Edytuj</a>
                        <form asp-action="DeleteRole" asp-route-id="@role.Id" method="post" style="display:inline;">
                            <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Czy na pewno chcesz usunąć tę rolę?')">Usuń</button>
                        </form>
                    }
                    else {
						<button class="btn btn-sm btn-secondary" disabled>Nie możesz edytować/usunąć tej roli.</button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="CreateRole" class="btn btn-primary mt-3">Dodaj rolę</a>
